---
import { getCollection } from "astro:content";

import MainLayout from "~/layouts/main-layout.astro";
import Heading from "~/components/heading.astro";
import Content from "~/components/content.astro";
import SampleCard from "~/components/sample-card.astro";

const samples = await getCollection("samples");
---

<MainLayout
  title="Samples"
  description="Some samples of copywriting Beth has collated to represent her flexiblity, tone, and writing style."
>
  <div class="flex flex-col gap-12">
    <Heading>Work Samples</Heading>
    <Content>
      <p>
        Welcome, friend! Are you curious to see what my work looks like in action? What a great coincidence - here you are on a page showing a curated selection of work I've done over my years as a
        copywriter. 
      </p>
      <p>
        If you don't find what you're looking for, reach out to me and I'll send through some more examples. Happy browsing!
      </p>
    </Content>
    <div class="flex flex-col gap-4">
      {samples.map((sample) => <SampleCard sample={sample} />)}
      <div
        class="rounded border-2 border-dashed border-gray-200 p-6 text-gray-400"
      >
        <p>And more to come...</p>
      </div>
    </div>
  </div>
</MainLayout>
