---
import MainLayout from "~/layouts/main-layout.astro";

import Button from "~/components/button.astro";
import Content from "~/components/content.astro";
import Heading from "~/components/heading.astro";
import Favs from "~/components/favs.astro";
---

<MainLayout
  title="About"
  description="A personal summary about me, what I like, and my personality."
>
  <div class="flex flex-col gap-12">
    <Heading>
      My name is Beth Freeman. <br /> I've monetised being a bookworm.
    </Heading>
    <Content>
      <p>
        On the clock, I'm a wordsmith. I have spent over 5 years developing my
        portfolio as a freelance writer.
      </p>
      <Button to="/work">Read about my work</Button>
      <hr class="my-4 w-full border-t-2 border-gray-100" />
      <p>
        In my spare time, I enjoy engaging with the great outdoors, and the
        great indoors - I have a deep love of theatre and the arts.
      </p>
      <p>
        I'm also a trivia fiend, and I love to write about any topic under the
        sun so I can get more knowledge under my belt.
      </p>
    </Content>
    <Favs />
  </div>
</MainLayout>
