---
import { Icon } from "astro-icon";
import MainLayout from "../layouts/main-layout.astro";

import ContactForm from "~/components/contact-form.astro";
import Heading from "~/components/heading.astro";

type Methods = {
  text: string;
  href: string;
  icon: string;
}[];

const methods: Methods = [
  {
    text: "Email me",
    icon: "envelope",
    href: "mailto:beth-freeman@outlook.com",
  },
  {
    text: "Let's Chat",
    icon: "phone",
    href: "tel:0423969173",
  },
];
---

<MainLayout
  title="Get In Touch"
  description="Beth Freeman is a copywriter based in Brisbane"
>
  <div class="flex flex-col gap-8">
    <Heading>Let's get to know each other.</Heading>
    <hr class="w-full border-t-2 border-gray-100" />
    <p>
      If you like what you've seen here, you can leave your details in the form
      below, and I'll get back to you as soon as I can.
    </p>
    <ContactForm />
    <hr class="w-full border-t-2 border-gray-100" />
    <p>
      Otherwise, you can use any of the methods listed below to get in touch
      with me directly.
    </p>
    <div class="grid w-full grid-cols-2 gap-4">
      {
        methods.map((method) => (
          <a
            href={method.href}
            class="flex justify-between gap-2 bg-gray-50 p-6 transition-all hover:bg-gray-100"
          >
            <p class="font-semibold">{method.text}</p>
            <Icon name={method.icon} class="h-6 w-6 text-main-600" />
          </a>
        ))
      }
    </div>
  </div>
</MainLayout>
