---
import MainLayout from "../layouts/main-layout.astro";

import Button from "~/components/button.astro";
import Content from "~/components/content.astro";
import Title from "~/components/title.astro";
---

<MainLayout
  title="Welcome | Beth Freeman"
  description="Beth Freeman is a copywriter based in Brisbane"
>
  <div class="flex flex-col gap-12">
    <Title>
      <span class="text-main-600">Hello!</span>
      <span>My name's Beth.</span>
      <span>I write copy.</span>
    </Title>
    <Content>
      <p>
        I am based in Brisbane, but I work with companies all over Australia to
        refine their tone of voice and provide creative and high-quality content
        with a personal touch.
      </p>
      <p>
        Please feel free to peruse my work and see what strikes your fancy. I
        look forward to hearing from you!
      </p>
      <Button to="/about" class="mt-4">Start Exploring</Button>
    </Content>
  </div>
</MainLayout>
