---
import Icon from "astro-icon";

import MainLayout from "~/layouts/main-layout.astro";

import Button from "~/components/button.astro";
import Content from "~/components/content.astro";
import Heading from "~/components/heading.astro";
import SectionHeader from "~/components/section-header.astro";

const areas = [
  "Commercial Real Estate",
  "Energy Providers",
  "Medical Advertising",
  "Public Relations",
  "People & Culture",
];

const work = [
  "Communication Strategy",
  "Legal & Compliance",
  "UX Writing",
  "Press Releases",
  "Social Media",
  "Content Writing",
  "SEO Writing",
];
---

<MainLayout
  title="Work"
  description="A brief summary of Beth's professional history"
>
  <div class="flex flex-col gap-12">
    <Heading>Professional Overview</Heading>
    <div class="flex flex-col gap-2">
      <SectionHeader text="Where I've Worked" icon="briefcase" class="mb-4" />
      {areas.map((area) => <p class="text-xl">{area}</p>)}
    </div>
    <div class="grid grid-cols-2 gap-2">
      <SectionHeader text="What I've Done" icon="documents" class="mb-4" />
      {work.map((item) => <p class="font-medium">{item}</p>)}
      <p class="text-gray-400">And More</p>
    </div>
    <hr class="mt-4 w-full border-t-2 border-gray-100" />
    <Heading>On My Work</Heading>
    <Content>
      <p>
        As you will see, my work experience is wide-ranging - which is just how
        I like it. I have spent over 5 years developing my portfolio as a
        freelance writer.
      </p>
      <p>
        I understand the real-world applications behind the marketing strategies
        that I execute via content. I can jump into an array of industries,
        apply a variety of communications skills, and rapidly create effective
        communications strategies, copy and assets with confidence, creativity
        and flair.
      </p>
    </Content>
    <Button to="/samples" class="self-start">See the evidence</Button>
  </div>
</MainLayout>
