<div
  class:list={[
    "scrollbar-hide relative mx-auto",
    "flex h-full w-full max-w-4xl flex-col",
    "overflow-y-scroll rounded bg-gray-50",
    "transition-all duration-300",
  ]}
>
  <slot />
</div>
