<form
  id="contact-form"
  action="/contact/success"
  class="group flex flex-col items-start gap-4"
  data-netlify="true"
>
  <div class="flex w-full flex-col gap-2">
    <label for="name" class="font-semibold">Name</label>
    <input
      type="text"
      name="name"
      id="name"
      required
      class="rounded bg-gray-100 p-2"
    />
  </div>
  <div class="flex w-full flex-col gap-2">
    <label for="email" class="font-semibold">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      required
      class="rounded bg-gray-100 p-2"
    />
  </div>
  <div class="flex w-full flex-col gap-2">
    <label for="message" class="font-semibold">Message</label>
    <textarea
      name="message"
      id="message"
      rows="4"
      required
      class="rounded bg-gray-100 p-2"></textarea>
  </div>
  <button
    type="submit"
    class="mt-4 rounded bg-main-600 px-4 py-3 font-semibold text-white transition-all hover:bg-main-700"
  >
    Get in touch
  </button>
</form>
