---
import Button from "~/components/button.astro";

type FAQContent = {
  question: string;
  answer: string;
}[];

const faqs: FAQContent = [
  {
    question: "Favourite Music Genre",
    answer: "Modern Jazz",
  },
  {
    question: "Favourite Game Show",
    answer: "Taskmaster",
  },
  {
    question: "Favourite Activity",
    answer: "Kvetching",
  },
  {
    question: "Favourite Meal",
    answer: "Carbonara",
  },
  {
    question: "Favourite Celebrity",
    answer: "Natasha Lyonne",
  },
  {
    question: "Favourite TV Show",
    answer: "Russian Doll",
  },
];
---

<section class="grid grid-cols-2 gap-2">
  {
    faqs.map((item) => (
      <div class="flex flex-col rounded bg-white p-6">
        <p class="font-medium">{item.answer}</p>
        <p class="text-sm text-gray-400">{item.question}</p>
      </div>
    ))
  }
  <div class="col-span-2 flex justify-between bg-white p-4">
    <h3 class="">Rapid Fire Favs</h3>
    <Button to="mailto://beth-freeman@outlook.com">Think I'm wrong?</Button>
  </div>
</section>
