---
import Icon from "astro-icon";
import Button from "./button.astro";

type FAQContent = {
  question: string;
  answer: string;
}[];

const faqs: FAQContent = [
  {
    question: "Favourite Music Genre",
    answer: "Modern Jazz",
  },
  {
    question: "Favourite Game Show",
    answer: "Taskmaster",
  },
  {
    question: "Favourite Activity",
    answer: "Kvetching",
  },
  {
    question: "Favourite Meal",
    answer: "Carbonara",
  },
  {
    question: "Favourite Celebrity",
    answer: "Natasha Lyonne",
  },
  {
    question: "Favourite TV Show",
    answer: "Russian Doll",
  },
];
---

<section class="grid grid-cols-2 gap-6">
  <div class="col-span-2 flex items-center gap-4">
    <h3 class="font-semibold">Rapid Fire Favs</h3>
    <Icon name="heart" class="h-4 w-4 text-main-600" />
  </div>
  <hr class="col-span-2 border-t-2 border-gray-100" />
  {
    faqs.map((item) => (
      <div class="flex flex-col">
        <p class="font-medium">{item.answer}</p>
        <p class="text-sm text-gray-400">{item.question}</p>
      </div>
    ))
  }
  <hr class="col-span-2 border-t-2 border-gray-100" />
  <Button
    class="col-span-1 justify-self-start"
    to="mailto://beth-freeman@outlook.com"
  >
    Think I'm wrong?
  </Button>
</section>
