---
import Icon from "astro-icon";
import Button from "./button.astro";
import SectionHeader from "./section-header.astro";

type Favs = {
  question: string;
  answer: string;
}[];

const favs: Favs = [
  {
    question: "Favourite Music Genre",
    answer: "Modern Jazz",
  },
  {
    question: "Favourite Game Show",
    answer: "Taskmaster",
  },
  {
    question: "Favourite Activity",
    answer: "Kvetching",
  },
  {
    question: "Favourite Meal",
    answer: "Carbonara",
  },
  {
    question: "Favourite Celebrity",
    answer: "Natasha Lyonne",
  },
  {
    question: "Favourite TV Show",
    answer: "Russian Doll",
  },
];
---

<section class="grid grid-cols-2 gap-6">
  <SectionHeader text="Rapid Fire Favs" icon="heart" />
  {
    favs.map((item) => (
      <div class="flex flex-col">
        <p class="font-medium">{item.answer}</p>
        <p class="text-sm text-gray-400">{item.question}</p>
      </div>
    ))
  }
  <hr class="col-span-2 border-t-2 border-gray-100" />
  <Button
    class="col-span-1 justify-self-start"
    to="mailto://beth-freeman@outlook.com"
  >
    Think I'm wrong?
  </Button>
</section>
