---
import Button from "~/components/button.astro";
---

<footer
  class="flex flex-col justify-between gap-4 bg-gray-900 p-8 text-white md:flex-row md:items-center"
>
  <div class="flex items-center gap-8">
    <p>Interested?</p>
    <Button to="mailto://beth-freeman@outlook.com" variant="dark">
      Email Me
    </Button>
  </div>
  <p class="text-sm opacity-50">Made with ☕️ by Jordan Accinelli</p>
</footer>
