<footer class="flex justify-between gap-4 bg-gray-900 px-12 py-6">
  <p class="text-white">© 2023</p>
  <p class="text-gray-500">
    Made with <span aria-label="Coffee Emoji">☕️</span> by Jordan Accinelli
  </p>
</footer>
