---
import Icon from "astro-icon";
import Navigation from "./navigation.astro";
import Brand from "./brand.astro";
import NavLink from "./nav-link.astro";
---

<header
  class="flex h-full flex-grow flex-col items-end gap-16 bg-gradient-to-tr from-main-400 to-main-600 px-12 py-24"
>
  <Brand />
  <Navigation />
  <div class="flex flex-col items-end gap-2">
    <p class="font-semibold text-white">Interested?</p>
    <NavLink href="/contact/">Get In Touch</NavLink>
  </div>
</header>

<script></script>
