---
import NavLink from "./nav-link.astro";

type Links = {
  title: string;
  href: string;
}[];

const links: Links = [
  { title: "Home", href: "/" },
  { title: "About", href: "/about/" },
  { title: "Work", href: "/work/" },
  { title: "Samples", href: "/samples/" },
];
---

<nav class="flex flex-col items-end gap-4">
  {links.map((link) => <NavLink href={link.href}>{link.title}</NavLink>)}
</nav>
