---
import Icon from "astro-icon";

type Props = {
  text: string;
  icon: string;
  class?: string;
};

const { text, icon, class: className } = Astro.props;
---

<div
  class:list={[
    "col-span-2 flex items-center justify-between gap-4 border-b-2 border-gray-100 pb-4",
    className,
  ]}
>
  <h3 class="font-semibold">{text}</h3>
  <Icon name={icon} class="h-4 w-4 text-main-600" />
</div>
