---
import "@fontsource-variable/inter";
import "~/styles/index.css";

import Header from "~/components/header.astro";
import Footer from "~/components/footer.astro";

const { title, description } = Astro.props;

const favicon =
  "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✍🏻</text></svg>";
---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href={favicon} />
    <!-- SEO -->
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body class="h-full flex flex-col items-center justify-stretch bg-gray-100">
    <div class="h-full w-full max-w-4xl rounded bg-gray-50">
      <Header />
      <div class="h-full flex-grow">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
