---
import "@fontsource-variable/inter";
import "~/styles/index.css";

import Drawer from "~/components/drawer.astro";
import Footer from "~/components/footer.astro";

const { title, description } = Astro.props;

const favicon =
  "data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>✍🏻</text></svg>";
---

<html lang="en" class="h-full w-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href={favicon} />
    <!-- SEO -->
    <title>{title} | Beth Freeman</title>
    <meta name="description" content={description} />
  </head>
  <body class="flex h-full flex-col items-center justify-stretch bg-gray-100">
    <div
      class="scrollbar-hide flex h-full w-full max-w-4xl flex-col overflow-y-scroll bg-white"
    >
      <div class="grid flex-grow grid-cols-1 md:grid-cols-3">
        <main class="px-8 py-32 md:col-span-2 md:px-12">
          <slot />
        </main>
        <Drawer />
      </div>
      <Footer />
    </div>
  </body>
</html>
